.quantity-button{
    background-color: rgb(233, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin: 5px;
    
}

.cart-item-quantity{
    font-weight: 800;
}

.quantity-button:hover{
    background-color: #e67b61;
}