/* cart.css */

.cart-container {
  background-color: #f6f1ec; /* Color de fondo similar a rgb(208, 147, 106) */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin:auto;
  text-align: center;
  border: 2px solid black;
  max-width: 95%;
  min-width: 300px ;

}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #de4f33;
  font-size: 3em;
  
 
}

.cart-list-container{
  margin:auto;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  margin-bottom: 10px;/* Borde similar a rgb(208, 147, 106) */
  padding: 10px;
  border-radius: 5px;
}

.cart-total {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.clear-cart-button,
.order-button,
.add-products-button,
.add-products-empty-cart {
  background-color: #e67b61;/* Color de botones similar a rgb(208, 147, 106) */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-cart-button:hover,
.order-button:hover,
.add-products-button:hover,
.add-products-empty-cart:hover {
  background-color: #eea78f; /* Cambio de color al pasar el mouse similar a rgb(177, 118, 84) */
}

.cart-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.add-products-link {
  text-decoration: none;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  .cart-buttons-container {
    flex-direction: column;
  }
}

.cart-total{
  text-align: end;
}
