.productos-container {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .productos-title {
    margin-bottom: 20px; 
    color:white;
    font-size: 3em;/* Espacio entre el título y el input de búsqueda */
  }
  
  .search-input {
    display: flex;
    justify-content: center; /* Centra el input horizontalmente */
    margin-bottom: 20px; /* Espacio entre el input de búsqueda y la lista de productos */
  }
  
  .productos-list-container {
    display: flex; /* Utiliza un contenedor flexible para centrar las tarjetas */
    justify-content: center; /* Centra horizontalmente las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no caben en una línea */
    gap: 10px; /* Espacio entre las tarjetas */
    transition: opacity 0.5s ease-in-out;
  }
  

 

  .category-title{
    color:white;
    text-align: center;
    font-size: 3em;
  }

  .no-products-message{
    color:white;
  }