/* listaDePrecios.css */

/* Estilos generales */
.price-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;

  }
  
  .price-list-title {
    font-size: 3em;
    margin-bottom: 10px;
    color: #de4f33;
  }
  
  .price-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .price-list-table th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #333;
  }
  
  .price-list-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilos para las filas */
  .price-list-row {
    transition: background-color 0.3s;
  }
  
  .price-list-row:hover {
    background-color: #e0e0e0;
  }
  
  /* Estilos para el pie de la tabla */
  .price-list-total {
    font-weight: bold;
    text-align: right;
    padding-top: 10px;
  }
  
  /* Estilos para la "torta" alrededor de la lista */
  .torta-wrapper {
    background-color: #fff;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }

  .pencil {
    font-size: 24px; 
    transform-origin: center; 
  }
  .pencil {
    transform: rotate(45deg); 
  }

.tabla-row {
  transition: background-color 0.3s ease, color 0.3s ease; 
}


.tabla-row:hover {
  background-color:#de4f33;
  color: white; 
}
