.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  max-width: 250px;
}

.item-card{ 
    background: radial-gradient(circle, rgb(231, 223, 210) 0%, rgb(231, 202, 174) 100%); 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 1px 1px 15px black;
    text-align: center;
    min-width: 200px;
    min-height:300px;
    max-height: 300px;
    


}

.card-title{
  font-family: 'Lobster','Borel', cursive;
  text-align: center;
  color: #de4f33;
  text-shadow: 1px 1px 1px black;
  
  
 }

.card-body img{
  max-height: 200px;
  margin-bottom: 15px;
  border: 1px solid #de4f33; 
  box-shadow: 1px 1px 10px black;
}


  .card-title{
    margin-bottom:15px;
  }
  .card-text{
    font-size: 1.5em;
    margin:10%;
  }

  
  .en-oferta .precio{
    color:green;
    font-weight: 700;
  }

  del{
    color:red;
  }

  .en-oferta-etiqueta{
    background-color: green;
    text-align: center;
    color:white;
    padding-top:10px;
    font-family: 'Borel', cursive;
    margin-bottom: 1px;
  }

  .en-destacados-etiqueta{
    background-color: purple;
    text-align:center;
    color:white;
    padding-top:10px;

    font-family: 'Borel', cursive;
  }

  .add-cart-btn{
     background-color: #e67b61; /* Color de botones similar a rgb(208, 147, 106) */
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding:10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }

  .add-cart-btn:hover{
    background-color: #eea78f;
  }

  .toast-title{
    color: #de4f33;
    text-shadow: 1px 1px 1px black;
    font-size: 1.2em;
  }