.recetas{
    margin-top:5%;
}

.recetas-container{

    display:flex;
    align-items: column;
    flex-direction: column;
    
}

.new-font{
font-family: 'Borel', cursive;
}

.recetas-container{

    display:flex;
    justify-content: center;
    flex-direction: row;
}




.receta{
    background-color: bisque;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 15px;
    box-shadow: 5px 5px 10px black;
}

.receta-title{
    margin: 15px;
}

/* Asegura que las imágenes se ajusten automáticamente al ancho del contenedor padre */
.img-container img {
    border: 1px solid rgb(169, 137, 68);
    box-shadow: 2px 2px 10px black;
    max-width: 200px; /* Establece el ancho máximo al 100% del contenedor padre */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  }
  
  /* Agrega margen inferior opcional para separar las imágenes */
  .img-container {
    margin-bottom: 10px; /* Puedes ajustar este valor según tus preferencias */
  }
  
