.footer-container{
    
    width: 100%;
    height: 7%;
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60px;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:auto;

}

.link:hover{
        text-decoration: none;
        
      }

.social-icon{
    margin-right: 15px;
}



.footer-container i{

    margin-right: 10px;
}


.footer-container {
    color:black;
    font-size: 1.2em;
    
    
}

.link-instagram{
    color: #ed333b;
    transition: color 0.3s ease;
}

.link-whatsapp{
    color: #26a269; 
    transition: color 0.3s ease;
}



.link-instagram:hover{
    text-decoration: none;
    color: #f37d83
  
}

.link-whatsapp:hover{
    text-decoration: none;
    color: #54ba8a; 
  
}