.app{
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  
}

.app-container{
  margin-top:10%;
  margin-bottom:3%;
}

body{
  /*background-color: rgb(219, 182, 142);*/
  background-color: #de4f33;
  margin-top: 0px;
  min-height: 100vh;
}


  h2{
    font-family: 'Lobster','Borel', cursive;
    text-align: center;
  
    text-shadow: 2px 2px 1px black;
   }
  
  


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 1400px) {
  .app-container{
    margin-top:13%;
    margin-bottom:3%;
  }
  
}



@media (max-width: 1100px) {
  .app-container{
    margin-top:20%;
    margin-bottom:3%;
  }
  
}

@media (max-width: 700px) {
  .app-container{
    margin-top:27%;
    margin-bottom:3%;
  }
  
}

@media (max-width: 450px) {
  .app-container{
    margin-top:40%;
    margin-bottom:25%;
    font-size: 0.8em;
  }
  
}





.read-the-docs {
  color: #888;
}
