

.ofertas-title{
    text-align: center;
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 3em;
}

.ofertas-list-container{
  
 /* CakeList.css */

 display: flex; /* Utiliza un contenedor flexible para centrar las tarjetas */
 justify-content: center; /* Centra horizontalmente las tarjetas */
 flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no caben en una línea */
 gap: 10px; /* Espacio entre las tarjetas */
 transition: opacity 0.5s ease-in-out;

}